.tab-bar {
  font-size: px2rem(14px);
  .content-panel {
    border-top: px2rem(1px) solid #e0e0e0;
    border-bottom: px2rem(1px) solid #e0e0e0;
    margin-top: px2rem(48px);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    a {
      flex: 1;
      display: block;
      box-sizing: border-box;
      text-align: center;
      width: auto;
      color: #636363;
      height: px2rem(40px);
      line-height: px2rem(40px);
      text-decoration: none;
      &.active {
        border-bottom: px2rem(3px) solid #f9d235;
      }
    }
  }
}
