.food-list-item {
  display: flex;
  font-size: px2rem(12px);
  flex-direction: row;
  padding: px2rem(10px);

  // 1象素边线
  &:after {
    background-color: #ececec;
  }
  // 左侧图片区
  .food-img {
    position: relative;
    img {
      width: px2rem(86px);
      height: px2rem(65px);
    }
    .brand {
      position: absolute;
      width: auto;
      font-style: normal;
      font-weight: normal;
      font-size: px2rem(12px);
      height: px2rem(14px);
      color: #fff;
      top: 0;
      left: 0;
      z-index: 1;
      background-color: #ffa627;
      &.new {
        background-color: #2ec56c;
      }
    }
  }
  //右侧内容区
  .food-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding-left: px2rem(4px);
    .title {
      font-size: px2rem(16px);
      font-weight: bold;
    }
    .row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: px2rem(4px) 0;
      ul {
        margin: px2rem(4px) 0 0 0;
        padding: 0;
        li {
          margin: 0;
          padding: px2rem(2px) 0;
          list-style-type: none;
          display: flex;
          align-items: center;
          img {
            width: px2rem(14px);
            height: px2rem(14px);
          }
          span {
            display: inline-block;
            padding-left: px2rem(4px);
            color: rgb(126, 126, 126);
          }
        }
      }
    }
    .tag {
      background-color: rgb(243, 202, 79);
      color: #222;
      font-size: px2rem(12px);
      padding: px2rem(2px);
      border-radius: px2rem(4px);
    }
    .score {
      display: inline-block;
      color: rgb(126, 126, 126);
      .star {
        i {
          display: inline-block;
          width: px2rem(14px);
          height: px2rem(14px);
          background-repeat: no-repeat;
          background-size: cover;
        }
        .full-star {
          background-image: url(./images/fullstar.png);
        }
        .half-star {
          background-image: url(./images/halfstar.png);
        }
        .gray-star {
          background-image: url(./images/graystar.png);
        }
      }
    }
    .sale-and-time {
      display: inline-block;
      color: rgb(126, 126, 126);
    }
    .split {
      display: inline-block;
      padding: 0px px2rem(2px);
      color: rgb(126, 126, 126);
    }
    .price-tip {
      color: rgb(126, 126, 126);
    }
  }
}
